@inject SignInManager<IdentityUser> SignInManager
@inject Bit.Core.Settings.GlobalSettings GlobalSettings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow" />
    <title>@ViewData["Title"] - Bravura Safe Admin Portal</title>

    <link rel="stylesheet" href="~/css/webfonts.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container align-items-stretch">
            <a class="navbar-brand d-flex align-items-center cursor-pointer mt-0 mr-3 mb-0" asp-controller="Home" asp-action="Index">
                <img class="logo logo-themed-nav-bar" alt="Hitachi ID" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav d-flex flex-grow-1">
                    @if(SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item" active-controller="Users">
                            <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item" active-controller="Organizations">
                            <a class="nav-link" asp-controller="Organizations" asp-action="Index">Teams</a>
                        </li>
                        @if(!GlobalSettings.SelfHosted)
                        {
                            <li class="nav-item" active-controller="Providers">
                                <a class="nav-link" asp-controller="Providers" asp-action="Index">Providers</a>
                            </li>
                            <li class="nav-item dropdown" active-controller="tools">
                                <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tools
                                </a>
                                <div class="dropdown-menu" aria-labelledby="toolsDropdown">
                                    <a class="dropdown-item" asp-controller="Tools" asp-action="ChargeBraintree">
                                        Charge Braintree Customer
                                    </a>
                                    <a class="dropdown-item" asp-controller="Tools" asp-action="CreateTransaction">
                                        Create Transaction
                                    </a>
                                    <a class="dropdown-item" asp-controller="Tools" asp-action="PromoteAdmin">
                                        Promote Admin
                                    </a>
                                    <a class="dropdown-item" asp-controller="Tools" asp-action="GenerateLicense">
                                        Generate License
                                    </a>
                                    <a class="dropdown-item" asp-controller="Tools" asp-action="TaxRate">
                                        Manage Tax Rates
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item" active-controller="Logs">
                                <a class="nav-link" asp-controller="Logs" asp-action="Index">Logs</a>
                            </li>
                        }
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle" href="#" id="nav-profile" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-profile">
                                <div class="dropdown-item-text d-flex align-items-center">
                                    <div class="overflow-hidden">
                                        <span>Logged in as</span>
                                        <small class="text-muted text-nowrap">@(SignInManager.UserManager.GetUserName(User))</small>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <form asp-controller="Login" asp-action="Logout" method="post">
                                    <button type="submit" class="dropdown-item">
                                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                                        Log Out
                                    </button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item align-self-center">
                            <a class="btn btn-sm btn-secondary" asp-controller="Login" asp-action="Index">Log In</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="container mb-4">
        <hr />
        &copy; @DateTime.Now.Year, Bitwarden Inc., with modifications &copy; @DateTime.Now.Year, Hitachi ID Systems, Inc.
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/popper/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
    </environment>

    @if (TempData["Error"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.error("@TempData["Error"]")
            });
        </script>
    }

    <script>
        $(document).ready(() => {
            // solve click hamburger button event
            // update the styles for navbar collapse
            $('button.navbar-toggler').click(() => {
                if ($('div.navbar-collapse.collapse').hasClass('show')) {
                    $('nav.navbar').removeClass("narrow-down");
                } else {
                    $('nav.navbar').addClass("narrow-down");
                }
            });
            // solve the window change size event
            $(window).resize(() => {
                if ($('button.navbar-toggler').css('display') === 'none') {
                    $('nav.navbar').removeClass("narrow-down");
                } else {
                    if ($('div.navbar-collapse.collapse').hasClass('show')) {
                        $('nav.navbar').addClass("narrow-down");  
                    } else {
                        $('nav.navbar').removeClass("narrow-down");
                    }        
                }
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
